.emptyCart{
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.emptyCart > a{
    text-decoration: none;
}
.emptyCart > svg{
    font-size: 5vmax;
}

.cartHeader{
    width: 80%;
    box-sizing: border-box;
    margin: auto;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;

}

.cartHeader > h4{
    margin: 10px;
}

.cartHeader > h4:last-child{
    text-align: end;
}

.cartContainer {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    padding-bottom: 1vmax;
}

.cartInput{
    display: flex;
    align-items: center;
    height: 8vmax;
}

.cartInput > input {
    border: none;
    width: 2vmax;
    padding: 0.5vmax;
    text-align: center;
    outline: none;
}

.cartSubtotal{
    display: flex;
    padding: .5vmax;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
}

.cartGrossTotal{
    display: grid;
    grid-template-columns: 2fr 1.2fr;

}

.cartGrossTotalBox{
    padding: 1vmax;
    border-top: 3px solid var(--secondary);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.checkOutBtn{
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 600px){
    .cartGrossTotal{
        display: grid;
        grid-template-columns: 0fr 2fr;
    }
    .cartGrossTotalBox{
        display: grid;
    }
}