.CartItemCard{
    display: flex;
    padding: 1vmax;
    height: 8vmax;
    align-items: flex-start;
    box-sizing: border-box;
}

.CartItemCard > img{
    width: 5vmax;
}

.CartItemCard > div{
    display: flex;
    margin: .3vmax 1vmax;
    flex-direction: column;
}

.CartItemCard > div > a{
    text-decoration: none;
}

.CartItemCard > div > p{
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .CartItemCard{
        padding: 3vmax;
        height: 25vmax
    }
    .CartItemCard > div {
        margin: 1vmax 2vmax;
    }
    .CartItemCard > img{
        width: 7vmax;
    }    
}
