#searchbar{
    height: 7vh;
    background-color: var(--secondary2);
    color: var(--primary);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;

    /* for sticky behavior */
    position: fixed;
    top: 0;
    width: 100%;
}

.searchItems{
    height: 4vh;
    padding: 1vmin .5vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    margin: 0 3vmin;
}

#search form input{
    height: 4vh;
    background-color: var(--secondary2);
    border: none;
    line-height: 4vh;
    color: var(--special);
    font-size: large;
}

#search form input:focus{
    outline: none;
}

#search form button{
    background-color: var(--secondary2);
    border: none;
}

#search form button img{
    height: 3vh;
}