.pageNotFound{
    margin: auto;
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vmax;
}

.pageNotFound > svg{
    font-size: 10vmax;
    color: var(--secondary);
}

.pageNotFound > a{
    text-decoration: none;
}