.productDetail{
    width: 100vW;
    max-width: 100%;
    padding: 6vmax;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}