.heading{
    text-align: center;
    padding: .5vw;
    width: 20%;
    border-bottom: .3vh solid black;
    margin: 0 auto;
    margin-bottom: 2vh;
}

.productsContainer{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.productCard{
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--textColor);
    transition: all .5s;
    padding-bottom: .5vmax;
    padding-left: .2vmax;
    margin: .7vmax;
}

.productCard > img {
    width: 14vmax;
}

.productCard > div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.productCard > span > h4{
    margin: 0 0.5vmax;
    color: tomato;
    padding-bottom: .5vmax;
}

.productCard:hover{
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
    transform: translateY(-1vh);
}