.heading{
    text-align: center;
    padding: .5vw;
    width: 20%;
    border-bottom: .3vh solid black;
    margin: 0 auto;
    margin-bottom: 2vh;
}

.productsContainer{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.productCard{
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--textColor);
    transition: all .5s;
    padding-bottom: .5vmax;
    padding-left: .2vmax;
    margin: .7vmax;
}

.productCard > img {
    width: 14vmax;
}

.productCard > div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
}

.productCard > span > h4{
    margin: 0 0.5vmax;
    color: tomato;
    padding-bottom: .5vmax;
}

.productCard:hover{
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
    transform: translateY(-1vh);
}

.paginationBox{
    display: flex;
    justify-content: center;
    margin: 6vmax;
}

.pagination{
    display: flex;
    justify-content: center;
    padding: 0;
}

.page-item{
    list-style: none;
    border: 1px solid gray;
    padding: 1vmax 1.5vmax;
    transition: all .3s;
    cursor: pointer;
}

.page-item:first-child{
    border-radius: .5rem 0 0 .5rem;
}
.page-item:last-child{
    border-radius: 0 .5rem .5rem 0;
}

.page-link{
    text-decoration: none;
    color: var(--special);
}
.page-item:hover{
    background-color: var(--secondary);
}
.page-item:hover .page-link{
    color: var(--primary);
}
.pageItemActive{
    background-color: var(--secondary2);
}
.pageLinkActive{
    color: var(--primary);
}

.filterBox{    
    width: 10vw;
    position: absolute;
    top: 14vh;
    right: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    align-content: flex-end;
}

.categoryBox{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    align-content: flex-end;
    max-width: 4vw;
    margin-bottom: 1vh;
}

.category-link{
    list-style: none;
    cursor: pointer;
    color: gray;
}

.category-link:hover{
    list-style: none;
    color: var(--secondary2);
}

.ratingFilterContainer{
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 600px){
    .filterBox{
        width: 20vmax;
        /* default one  */
        position: static;
        margin: auto;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}