/* css resetting  */
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
 /* global variable */
:root {
  --secondary: #F1A661;
  --primary: white;
  --special: #472D2D;
  --secondary2: #E38B29;
  --textColor:black;

}

.container{
  margin: 4vh 10vw;
  min-height: 80vh;
}