/* css resetting  */
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
 /* global variable */
:root {
  --secondary: #F1A661;
  --primary: white;
  --special: #472D2D;
  --secondary2: #E38B29;
  --textColor:black;

}

/* hiding arrow for input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container{
  margin: 4vh 10vw;
  min-height: 80vh;
  /* overflow-x: hidden; */
}

.redColor{
  color: red;
}
.greenColor{
  color: green;
}

.btn{
  border-radius: 2vmin;
  padding: .8vmin 2vmin;
  background-color: var(--secondary2);
  border: 0 solid;
  color: var(--primary);
} 